/* You can add global styles to this file, and also import other style files */
:root{

  --white: #fff;

  --gray-100:#E7E6FB;
  --gray-200:#DAD8F7;
  --gray-300:#C2BFF4;

  --purple:#6D67D0;


}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:focus {
  outline: 0;
}


body,
input,
textarea,
button {
  font: 400 1rem Lato, sans-serif;
}

section {
  background: var(--purple);
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
}