/* .temperature_now{
  position: relative;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  background: url(../../../assets/temperature-now.png) no-repeat;
}
.temperature_now::before{
  content: "";
  width: 17rem;
  height: 17rem;

  background: url(../../../assets/clouds.svg) no-repeat;

  position: absolute;
  top: -5.6rem;
  left: -5.6rem;
}

.location{
  padding: 3.2rem 3.2rem 0;
  
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 0.4rem
}

.location strong {
  color: var(--gray-300);
}

.temperature{
  margin: 6rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

.number{
  text-align: center;
  font-size: 8.8rem;
  color: var(--white);

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.number .maxmin{
  font-size: 2rem;
}
.maxmin span{
  margin-left: 0.5rem;
  color: var(--gray-300);
}

.celsius{
  font-size: 2.4rem;
  color: var(--gray-200);
  margin-top: 1.5rem;
}

.statistics{
  padding: 1.2rem;
  display: flex;
  gap: 0.8rem;
}

.stats{
  flex: 1;
  padding: 1.2rem 1.6rem;
  background: rgba(102, 96, 200, 0.6);
  border-radius: 8.5px;

  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.stats .info{
  color: var(--gray-100);
} */

section {
  background: #6d67d0;
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
}

.temperature-now {
  background-image: url(../../../assets/bg-temp-now.png);
  background-size: 100% 100%;
  /* background-position: 100%; */
  background-repeat: no-repeat;
  position: relative;

  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.temperature-now::before {
  content: "";
  width: 17.6rem;
  height: 17.6rem;

  background: url(../../../assets/clouds.svg) no-repeat;

  position: absolute;
  top: -5.6rem;
  left: -5.6rem;
}

.location {
  justify-self: end;

  padding: 3.2rem 3.2rem 0;

  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.location strong {
  font-size: 1.4rem;
  color: #c2bff4;
}

.temp {
  margin: 6rem;

  font-weight: 700;

  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

.temp .number {
  text-align: center;
  font-size: 8.8rem;
  color: white;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.temp .number .maxmin {
  font-size: 2rem;
}

.temp .number .maxmin span {
  color: #c2bff4;
}

.celsius {
  font-size: 2.4rem;
  color: #dad8f7;

  margin-top: 1.5rem;
}

.statistics {
  padding: 1.2rem;

  display: flex;
  gap: 0.8rem;
}

.stats {
  flex: 1;

  padding: 1.2rem 1.6rem;
  background: rgba(102, 96, 200, 0.6);
  border-radius: 0.6rem;

  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.stats .info {
  color: #e7e6fb;
}

.stats .info h5 span,
.stats .info p {
  font-size: 1.2rem;
}

.stats .info h5 {
  font-size: 1.8rem;

  display: flex;
  align-items: baseline;
  gap: 0.4rem;
}